/* General Styling */

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0074D9;
    line-height: 1.5;
  }
body {
    font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bae0fa;
    margin: 0 auto;
    padding: 0;
  }

  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  h1 {
    text-align: center;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #001f3f;
    color: #fff;
    padding: 10px 20px;
    border: 5px ridge #2b4e74;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #000;
  }
  
  /* Table Styling */
  table {
    width: 95%;
    height: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: none;
  }
  
  th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #001f3f;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  td {
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    border: 1px solid #001f3f;
  }
  
  tr.quarters td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #0074D9;
    color: #fff;
  }
  
  tr.classes td {
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  
  tr.classes td:hover {
    background-color: #f2f2f2;
  }
  
  tbody.classes td.completed {
    background-color: #4CAF50;
    color: #fff;
  }
  tbody.classes td.incomplete {
    background-color: blank;
    color: #000000;
  }
  
  /* Modal Styling */
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
  }
  
  .modal-content h2 {
    text-align: center;
    color: #001f3f;
    margin-top: 0;
  }
  
  .close {
    color: #001f3f;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    color: #001f3f;
  }
  
  form input[type="number"],
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form button[type="submit"],
  form button[type="button"] {
    background-color: #001f3f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  
  form button[type="submit"]:hover,
  form button[type="button"]:hover {
    background-color: #000;
  }

  